<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592209129003-hlno590ddsr1q5oobc2tmnpor9og4nof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592209129003-hlno590ddsr1q5oobc2tmnpor9og4nof</string>
	<key>API_KEY</key>
	<string>AIzaSyCi4oR1kvtqg8KSeBCpZChhYuTHrxds6cQ</string>
	<key>GCM_SENDER_ID</key>
	<string>592209129003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nart.SimpleAnki</string>
	<key>PROJECT_ID</key>
	<string>simple-anki-166ea</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-anki-166ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592209129003:ios:bd6a5413b089da9568446e</string>
</dict>
</plist>