<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086128649503-9sh6805pqdrels1hpej5ak8psj9d7hjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086128649503-9sh6805pqdrels1hpej5ak8psj9d7hjv</string>
	<key>API_KEY</key>
	<string>AIzaSyB1WBRDmc-FrOo9BNVUwImRbCv80eGgnVs</string>
	<key>GCM_SENDER_ID</key>
	<string>1086128649503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nart.Simple-Anki</string>
	<key>PROJECT_ID</key>
	<string>simple-anki-7ff51</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-anki-7ff51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086128649503:ios:b14a23e8d03c9aaf1d6c2a</string>
</dict>
</plist>